<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Book Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<h3 class="center">Edit Book</h3>

<div class="container-centered">
    <form action="#" th:action="@{'/'+${book.id}}" th:object="${book}" method="post">
        <p>author <input type="text" th:field="*{author}"/></p>
        <p>name: <input type="text" th:field="*{name}"/></p>
        <p><input type="submit" value="edit book" class="btn bnt-primary green"/></p>
    </form>
</div>

</body>
</html>