<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<h3 class="center">List of Books</h3>

<table class="centered">

    <thead>
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book:${books}">
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
        <td><a href="" th:ref="@{'/'+${book.id}+'/show'}">SHOW</a></td>
        <td><a href="" th:ref="@{'/' + ${book.id} + '/edit'}">EDIT</a></td>
        <td><a href="" th:ref="@{'/' + ${book.id} + '/delete'}">DELETE</a></td>
    </tr>
    </tbody>
</table>

<div class="container-centered">
    <form action="#" th:action="@{/}" th:object="${newbook}" method="post">
        <p>author <input type="text" th:field="*{author}"/></p>
        <p>name: <input type="text" th:field="*{name}"/></p>
        <p><input type="submit" value="create new book" class="btn bnt-primary green"/>
            <input type="reset" value="Reset" class="btn bnt-primary red"/>
        </p>
    </form>
</div>


</body>
</html>